.containercomponent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chatcontainer {
  flex-grow: 1;
}
.chatbody {
  height: 92%;
  margin: auto;
}
.App {
  height: 98%;
  display: flex;
  margin: 20px 60px;
  background-color: #efefef;
  border-radius: 6px;
}
.messagesWrapper {
  display: flex;
  flex-direction: column;

  width: auto;
  height: 100px;
  flex-grow: 1;
  overflow: scroll;
  margin-top: 1rem;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #b1d6fb
}
.formfooter {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}
.inputarea {
  border: 2px solid #d3d3d3;
  border-radius: 0px 0px 20px 20px;
  padding: 2vh;
  width: 91%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.submitbtn {
  color: #fff !important;
  background: #5345d4;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: fit-content;
}
.justifystart {
  display: flex;
  justify-content: flex-start;
}
.justifyend {
  display: flex;
  justify-content: flex-end;
}
.messageBox-bgblue {
  background: #5345d4;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.messageBox-bglight {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: dark;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  /* justify-content: flex-end; */
  padding: 0 5%;
  margin-top: 3px;
  align-items: center;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.chatSenderImage {
  height: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #5856d4; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #100e77; 
}

.textDiv {
  /* background-image: url('bg.jpeg'); */
  max-width: 60%;
  margin-right: 30px;
  margin-left: 10%;
  text-align: left;
}

.chatBoxDiv {
  max-width: 40%;
  min-width: 35%
}

.textDivHeading {
  margin-top: 5%;
  max-width: 50%;
  font-size: 28px;
  font-weight: 700;
  font-family: system-ui;
}

.textDivPara {
  margin-top: 5%;
  max-width: 61%;
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui;
}
