.containercomponent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chatcontainer {
  flex-grow: 1;
}
.chatbody {
  height: 92%;
  margin: auto;
}
.App {
  height: 98%;
  margin: 20px 60px;
  background-color: #efefef;
  border-radius: 6px;
}

.sub-containers {
  flex: 1;
}
.subsub-container {
  display: flex !important;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
.mobile-menu {
  display: flex;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .contain-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .subsub-container {
    width: 100%;
  }
  .mobile-menu {
    display: flex !important;
  }
  .toggle-button {
    display: flex;
  }
  .subsub-container {
    display: none !important;
  }
  .subsub-container.active {
    display: flex !important;
  }
}
.messagesWrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100px;
  flex-grow: 1;
  margin-top: 1rem;
  overflow: hidden;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #b1d6fb;
}
.formfooter {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
}

.inputarea {
  border: none;
  padding: 2vh;
  width: 91%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.submitbtn {
  color: #fff !important;
  background: #5345d4;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: fit-content;
}
.justifystart {
  display: flex;
  justify-content: flex-start;
}
.justifyend {
  display: flex;
  justify-content: flex-end;
}
.messageBox-bgblue {
  background: #5345d4;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.messageBox-bglight {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: dark;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  /* justify-content: flex-end; */
  padding: 0 5%;
  margin-top: 3px;
  align-items: center;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.chatSenderImage {
  height: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5856d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #100e77;
}

.textDiv {
  max-width: 52%;
  margin-right: 2%;
  margin-left: 8%;
  text-align: left;
  float: left;
}

.chatBoxDiv {
  width: 38%;
  height: 100%;
  float: left;
}

.textDivHeading {
  margin-top: 5%;
  max-width: 50%;
  font-size: 28px;
  font-weight: 700;
  font-family: system-ui;
}

.textDivPara {
  margin-top: 5%;
  max-width: 61%;
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .textDiv {
    display: none;
  }
  .chatBoxDiv {
    width: 100%;
  }

  .App {
    margin: 0px;
    height: 100%;
  }

  .chatbody {
    margin: 0px;
    height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .textDiv {
    display: none;
  }
  .chatBoxDiv {
    width: 100%;
  }

  .App {
    margin: 0px;
    height: 100%;
  }

  .chatbody {
    margin: 0px;
    height: 100%;
  }
}
